@using DongA.Entities;
@using Kendo.Mvc.UI;

@{
    List<Partner> listPartner = ViewBag.listPartners;
    string a = string.Empty;
    int count = 1;
}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" style=" background-color: #0041ff; background-image: none;">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">E-STATISTIC</div>
    </a>
    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/Admin">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">

    @*<div class="sidebar-heading">
        LOẠI ĐỐI TÁC
    </div>
    <!-- Nav Item - Pages Collapse Menu -->
    <!-- Nav Item - Charts -->
    @{
        for (int i = 0; i < listPartner.Count(); i++)
        {
            <li class="nav-item">
                <a class="nav-link" href="">
                    <input type="checkbox" class="k-checkbox" value="">
                    <span style=" margin-left: 15px; ">@listPartner[i].PartnerName</span>
                </a>
            </li>
        }
    }
    <hr class="sidebar-divider">*@
    <div class="sidebar-heading">
        HÌNH THỨC BÁO CÁO
    </div>
    @*<li class="nav-item">
        <a class="nav-link">
            <span>Doanh số</span>
        </a>
    </li>*@
    <li class="nav-item">
        <a class="nav-link" href="javascript:void(0);">
            <input type="radio" name="engine" id="sumSale" class="k-radio" value="1">
            <label for="sumSale" style=" cursor: pointer; font-size: .85rem;"  onclick="onOpen('sumSale');">Báo cáo Doanh số</label>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="javascript:void(0);">
            <input type="radio" name="engine" id="detailSales" class="k-radio" value="2">
            <label for="detailSales" style=" cursor: pointer; font-size: .85rem;" onclick="onOpen('detailSales');">Báo cáo hồ sơ</label>
        </a>
    </li>


    <hr class="sidebar-divider d-none d-md-block">

    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>

<style>
    #treeview .k-sprite {
        
    }

    #treeview .k-top.k-bot {
        color: white;
    }
    #treeview .k-top {
        color: white;
    }
    #treeview .k-bot {
        color: white;
    }
    #treeview .k-mid {
        color: white;
    }
</style>

<script type="text/javascript">
    let count = 1;
    var reportTypeID;

    $(document).ready(function () {

        let typeReportValue = localStorage.typeReportValue;
        // 05/10/2020 [Trường Lãm] Begin add
        // Set comboBox đối tác
        if (!isNullOrEmpty(typeReportValue) || typeReportValue != undefined) {

            typeReportValue = parseInt(typeReportValue);
            if (typeReportValue == 1) {
                $('input[name="engine"]')[0].checked = true;
            } else {
                $('input[name="engine"]')[1].checked = true;
            }
        }
        // 05/10/2020 [Trường Lãm] End add
    });

    $('#sidebarToggle').click(function () {

        // Trường hợp có class không
        if ($('#page-top').hasClass('sidebar-toggled')) {
            count = 0;
        }

        if (count == 1) {
            $('#treeview').css('display', 'none');
            document.documentElement.scrollTop = 0;
        } else {
            $('#treeview').css('display', 'block');
            count = 1;
        }

    })

    // Mở poppup theo doanh số tổng hợp
    function onOpen(e) {
        //debugger;
        var dialog = null;
        // Trường hợp click Doanh số tổng hợp
        if (e == 'sumSale' || e == 'detailSales') {
            // 05/10/2020 - Begin Add
            // Hình thức báo cáo

            localStorage.removeItem('typeReportValue');
            let typeReportValue = 1;

            if (e == 'detailSales') {

                typeReportValue = 2;
            }
            localStorage.typeReportValue = typeReportValue;
            // 05/10/2020 - End Add

            // Vào trang xem chi tiết
            window.location = "/Admin/Home/ReportDetailt";
        }
        
    }

    // Data cho comboBox cho báo cáo tổng hợp
    function filterDetailtMenu() {

        return {
            reportID: $("#categoryDetailtMenu").val()
        };
    }

    function dataLevelZero() {
        return {
            levelZeroID: $("#categories_Level0").val()
        }
    }


    function dataLevelOne() {
        // Xác định thông tin của báo cáo tổng hợp hay chi tiết
        return {
            levelOneID: $("#categories_Level0").val()
        };
    }

    function dataLevelTwo() {
        
        return {
            // Loại báo cáo
            levelZeroID: $("#categories_Level0").val(),
            // Loại hình báo cáo
            levelTwoID: $("#categories_Level2").val()
        };
    }

    function onClickReport(e) {

        let categories = $("#categories").data("kendoDropDownList").value();
        let report = $("#report").data("kendoDropDownList").value();
        let categoryDetailt = $("#categoryDetailtMenu").data("kendoDropDownList").value();
        // Loại báo cáo
        // 1: Tổng hợp, 2: Theo DAB, 3:Theo DAMTC
        reportTypeID = $('input[name="report"]:checked').val();

        if (!isNullOrEmpty(categories) && !isNullOrEmpty(report) && !isNullOrEmpty(categoryDetailt)) {

            // Hình thức báo cáo
            let categoryText = null;
            switch (categories) {
                case 'item1':
                    categoryText = 'ReportForTotalPayment';
                    break;
                case 'item2':
                    categoryText = 'Report';
                    break;
                case 'item3':
                    categoryText = 'ReportForMakets';
                    break;
                default:
                    categoryText = 'ReportTotalMoneyType';
            }

            // Loại báo cáo
            let reportText = null;
            switch (report) {
                case 'item1':
                    reportText = 'ReportDay';
                    break;
                case 'item2':
                    reportText = 'ReportMonth';
                    break;
                case 'item3':
                    reportText = 'ReportYear';
                    break;
                case 'item4':
                    reportText = 'ReportGradationCompare';
                    break;
                default:
                    reportText = 'ReportCompareForMonth';
            }

            localStorage.removeItem('valueReport');
            // Lưu giá trị vào biến local storage
            let valueLocalStorage = kendo.format("{0}_{1}_{2}", categories, categoryDetailt, report);
            localStorage.valueReport = valueLocalStorage;

            // Lưu giá trị của loại báo cáo
            localStorage.removeItem('reportTypeLS');
            let reportTypeLS = reportTypeID;
            localStorage.reportTypeLS = reportTypeLS;

            //Tạo dữ liệu cho bảng tạm của Thị trường
            //debugger;
            //$.getJSON('/Admin/Home/CreateDataMarket', function (result) {
            //    var toto = result.SomeValue;
            //    alert(toto);
            //});

            window.location = kendo.format("/Admin/{0}/{1}", categoryText, reportText);
        }
    }

    function onClickReportDeatailt(e) {
        debugger;
        let categoriesDetailt = $("#categoriesDetailt").data("kendoDropDownList").value();
        let categoryMenuDetailt = $("#categoryMenuDetailt").data("kendoDropDownList").value();
        let reportDetailt = $("#reportDetailt").data("kendoDropDownList").value();
        // Loại báo cáo
        // 1: Tổng hợp, 2: Theo DAB, 3:Theo DAMTC
        reportTypeID = $('input[name="report"]:checked').val();

        // Loại báo cáo
        let categoriesDetailtText = null;
        // Báo cáo chi tiết theo tất cả
        categoriesDetailtText = 'ReportDetailtForTotal';
        // Báo cáo chi tiết theo từng thị trường
        if (categoriesDetailt == 'item1') {

            categoriesDetailtText = 'ReportDetailtByMarket';
        }

        if (categoriesDetailt == 'item2') {

            categoriesDetailtText = 'ReportDetailtMarketByMoneyType';
        }

        // Hình thức báo cáo
        let categoryMenuDetailtText = null;

        switch (categoryMenuDetailt) {
            case 'item1':
                categoryMenuDetailtText = 'MarketForTotal';
                break;
            case 'item2':
                categoryMenuDetailtText = 'MarketForOne';
                break;
            case 'item3':
                categoryMenuDetailtText = '';
                break;
            default:
                categoryMenuDetailtText = '';
        }

        // Xóa local Storage
        localStorage.removeItem('valueReport');

        // Trường hợp không chọn báo cáo so sánh
        if (isNullOrEmpty(reportDetailt)) {
            
            // Lưu giá trị vào biến local storage
            let valueLocalStorage = kendo.format("{0}_{1}", categoriesDetailtText, categoryMenuDetailt);
            localStorage.valueReport = valueLocalStorage;


            // Lưu giá trị của loại báo cáo
            localStorage.removeItem('reportTypeLS');
            let reportTypeLS = reportTypeID;
            localStorage.reportTypeLS = reportTypeLS;

            window.location = kendo.format("/Admin/{0}/{1}?reportTypeID={2}", categoriesDetailtText, categoryMenuDetailtText, reportTypeID);
        } else {
            
            // Loại báo cáo
            let reportDetailtText = null;
            switch (reportDetailt) {
                case 'item1':
                    reportDetailtText = 'ReportDetailtGradationCompare';
                    break;
                case 'item2':
                    reportDetailtText = 'ReportDetailtGradationCompareForOne';
                    break;
                case 'item3':
                    reportDetailtText = 'ReportDetailtCompareMonthForAll';
                    break;
                case 'item4':
                    reportDetailtText = 'ReportDetailtCompareMonthForOne';
                    break;
                default:
                    reportDetailtText = '';
            }

            // Lưu giá trị vào biến local storage
            let valueLocalStorage = kendo.format("{0}_{1}_{2}", categoriesDetailtText, categoryMenuDetailt, reportDetailt);
            localStorage.valueReport = valueLocalStorage;


            // Lưu giá trị của loại báo cáo
            localStorage.removeItem('reportTypeLS');
            let reportTypeLS = reportTypeID;
            localStorage.reportTypeLS = reportTypeLS;

            window.location = kendo.format("/Admin/{0}/{1}", categoriesDetailtText, reportDetailtText);
        }

    }

    // check null or empty
    function isNullOrEmpty(s) {
        return (s == null || s === "");
    }

    // Select cho việc chọn báo cáo chi tiết cho loại So sánh
    function onSelectCategoryMenu(e) {
        //debugger;
        if (e.dataItem.PartnerID == 'item3') {
            // ẩn nút loại báo cáo
            let dropdownlist = $("#reportDetailt").data("kendoDropDownList");
            $('.reportDetailtText').css('display', '');
            dropdownlist.wrapper.show();
        } else {
            // ẩn nút loại báo cáo
            let dropdownlist = $("#reportDetailt").data("kendoDropDownList");
            $('.reportDetailtText').css('display', 'none');
            dropdownlist.wrapper.hide();
        }

    }

    function onDataCategoryMenuInit() {
        return {
            categoriesDetailt: $('#categoriesDetailt').val()
        };
    }
</script>