<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Cells" version="20.1.0" targetFramework="net461" />
  <package id="Dapper" version="1.50.2" targetFramework="net461" />
  <package id="Dapper.Oracle.DynamicParameter" version="1.0.1" targetFramework="net461" />
  <package id="EnterpriseLibrary.Common" version="6.0.1304.0" targetFramework="net461" />
  <package id="EnterpriseLibrary.Data" version="6.0.1304.0" targetFramework="net461" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net461" />
  <package id="Microsoft.Practices.EnterpriseLibrary.Common.dll" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.Practices.EnterpriseLibrary.Data.dll" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.Practices.ObjectBuilder.dll" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package id="Oracle.ManagedDataAccess" version="19.8.0" targetFramework="net461" />
  <package id="Oracle.ManagedDataAccess.EntityFramework" version="19.7.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
  <package id="Unity" version="5.11.7" targetFramework="net461" />
</packages>